HOST=0.0.0.0
PORT=1337
APP_KEYS=toBeModified1,toBeModified2
API_TOKEN_SALT=toBeModified
ADMIN_JWT_SECRET=toBeModified
JWT_SECRET=toBeModified

# 数据库配置
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=changeThisPassword
DATABASE_SSL=false

# 以下是可选配置
# STRAPI_ADMIN_BACKEND_URL=
# STRAPI_ADMIN_PUBLIC_URL=
